.form() {
  margin: 32px 0;

  button {
    display: block;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 8px;
    width: 100%;
    border: 1px solid #333333;
  }

  input {
    display: block;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 8px;
    width: 100%;
    border: 1px solid #333333;
  }

  select {
    display: block;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 8px;
    width: 100%;
    border: 1px solid #333333;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
