<form class="repository-form">
  <div class="form-control">
    <label>
      <span class="label-text">
        Name
      </span>
      <input ng-model="c.repository.name" />
    </label>
  </div>
  <div class="form-control">
    <label>
      <span class="label-text">
        Project
      </span>
      <select
        ng-model="c.repository.project"
        ng-options="i.name for i in c.projects"
        >
      </select>
    </label>
  </div>
  <button ng-click="c.addRepository()">
    Add Repository
  </button>
</form>
