<form class="user-form">
  <div class="form-control">
    <label>
      <span class="label-text">
        Slack Username
      </span>
      <input ng-model="c.user.slackUsername" />
    </label>
  </div>
  <div class="form-control">
    <label>
      <span class="label-text">
        Backlog Username
      </span>
      <input ng-model="c.user.backlogUsername" />
    </label>
  </div>
  <div class="form-control">
    <label>
      <span class="label-text">
        GitHub Username
      </span>
      <input ng-model="c.user.githubUsername" />
    </label>
  </div>
  <button ng-click="c.addUser()">
    Add User
  </button>
</form>
